{% extends 'webpage/base.html' %}

{% block content %}
<div class="flex max-w-screen-xl flex-wrap mx-auto">
    <div id="about" class="flex flex-col items-center md:flex-row md:m-24 md:gap-x-8">
        <img class="rounded-full h-1/3 md:h-96 my-8 md:my-0" src="https://drive.google.com/uc?id=1YaKDCcs_IWqHuE9rL4L0C7huVRlU-7yq">
        
        <div class="flex flex-col">
            <h1 class="text-5xl w-full font-bold text-center md:text-7xl md:text-left">Hi there!</h1>
            <p class="text-gray-500 text-md text-justify px-12 my-4 md:text-xl md:px-0 md:my-8">
                Welcome to my digital playground! I'm a Data Alchemist, AI Enthusiast, Data Engineering Explorer, Web Wizard, Automation Architect, and Scripting Guru. I'm on a mission to decode data mysteries, conjure AI wonders, streamline the data superhighway, craft mesmerizing web experiences, automate like a pro, and script tailored magic.
            </p>
            <p class="text-gray-500 text-md text-justify px-12 md:text-xl md:px-0">
                Join me on this electrifying journey of innovation and transformation, where we unlock the infinite potential of data and technology, shaping a boundless future of possibilities.
            </p>    
        </div>
        
    </div>
</div>
{% endblock content %}